.notifications-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: 20px;
  font-size: 13px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.notifications-container *,
.notifications-container ::before,
.notifications-container ::after {
  box-sizing: content-box;
}

.notifications-container .notification {
  border-radius: 4px;
  height: 100%;
  padding: 10px 5px;
  width: 450px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;
  background-color: var(--vscode-notifications-background);
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
}

.notifications-container .notification>* {
  min-height: auto;
}

.notifications-container .notification.collapsed>* {
  min-height: 0;
}

.notifications-container .notification.collapsed>.notification-message-container {
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notifications-container .notification>.notification-message-container.expanded {
  height: auto;
}

.notifications-container .notification:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.notifications-container .notification:focus {
  border: 1px solid var(--vscode-focusBorder);
}

.notifications-container .notification .action-toolbar {
  list-style-type: none;
  margin-left: 5px;
  box-sizing: content-box;
  height: min-content;
}

.notifications-container .notification .action-toolbar>li {
  display: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
  height: min-content;
}

.notifications-container .notification:hover .action-toolbar>li,
.notifications-container .notification:focus .action-toolbar>li,
.notifications-container .notification.expanded .action-toolbar>li {
  display: inline-flex !important;
}

.notifications-container .notification .action-toolbar>li:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}

.notification-message-container {
  line-height: 22px;
  flex: 1;
}

.notification-message-container.collapsed>span {
  display: inline-block;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
}

.notification .notification-icon {
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex: 0 0 18px;
  font-size: 18px;
  height: 22px;
  margin-left: 4px;
  margin-right: 4px;
}

.notification .codicon.codicon-info {
  color: var(--vscode-notificationsInfoIcon-foreground);
}

.notification .codicon.codicon-error {
  color: var(--vscode-notificationsErrorIcon-foreground) !important;
}

.notification .codicon.codicon-warning {
  color: var(--vscode-notificationsWarningIcon-foreground);
}