.tab {
  border-right: 1px solid var(--vscode-tab-border);
  display: flex;
  cursor: pointer;
  line-height: 40px;
  padding: 0 35px;
  user-select: none;
}

.tab.inactive-tab {
  background-color: var(--vscode-tab-inactiveBackground);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--vscode-tab-border);
}

.tab.inactive-tab:hover {
  background-color: var(--vscode-tab-hoverBackground);
}

.tab.active-tab {
  background-color: var(--vscode-tab-activeBackground);
  border-top: 2px solid var(--vscode-tab-activeBorderTop);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.tab-bar-filler {
  border-bottom: 1px;
  background-color: var(--vscode-editorGroupHeader-tabsBackground);
}

#sidebar {
  border-right: 1px solid var(--vscode-sideBar-border);
  background-color: var(--vscode-sideBar-background);
}

#title-bar {
  background-color: var(--vscode-titleBar-activeBackground);
  border-bottom: 1px solid var(--vscode-titleBar-border);
}